/* Para la demo se centra el html y el body */
html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* Para la demo se centra el contenido del html y el body */

.magicBtn--text {
  font-size: 14px;
  font-weight: 400;
}

/* tamaño SM de los iconos */
.magicBtn--magicIcon, .magicBtn--doneIcon, .magicBtn--loaderIcon  {
  height: 20px;
}

/* asignación de la animación del loader */
.magicBtn--loaderIcon{
  animation: spinLoader 1s ease infinite;
}

/* Botón */
.magicBtn {
  /* Ancho fijo */
  width: 170px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #F3F1FF;
  color: #6B04FD;
  padding: 10px 20px 10px 16px;
  border-radius: 6px;
  border: 1px solid #6B04FD;
  /*Transición para el hover*/
  transition: background-color 0.3s ease;
}

/* btn estado loading */
.magicBtn--status__loader {
  color: #7A7A7A;
  background-color: #F8F8F8;
  border: 1px solid #CBCBCB;
}

/* btn estado done */
.magicBtn--status__done {
  justify-content: center;
  color: #ffff;
  background-color: #68BB59;
  border: 1px solid #68BB59;
}

 /* Efecto hover */
.magicBtn:hover {
  cursor: pointer;
  background-color: #D9CEFF;
}

/* clase para ocultar */
.none {
  display: none;
}

/*Animación del loader*/

@keyframes spinLoader {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}